.CV>table, th ,td{
    border: 3px solid blue;
}
*{
background-color: rgb(120 140 25);
}
th{
    color: rgb(250 0 180);
}
img{
    margin-left: 30px
}
h3{
    color: blue;
}
h1 , h2{
    color: rgb(250 0 180);  
}
